.Details{
    background-color: #55adc8;
    width: 100%;
    overflow: hidden;
}

.description{
    font-size: 20px;
    color: white;
    width: 900px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.Details .stars{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin: 10px 0 20px 0;
}

.Details .stars .star{
    color: white;
    font-size: 24px;
}