.hero {
  height: 350px;
    overflow: hidden;
}

 .hero h2 {
  text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 170px;
    font-size: 10vh;
    text-decoration: underline;
}